
<div class="row" style="margin-top: 20px">
  <div class="col-md-10 col-md-offset-1" style="display:-webkit-inline-box">

  <% @components.each do |component|%>
    <div class="component-square-offset">
      <div class="component-content">
        <div class="component-content-title">
          <%= component.name %>
        </div>
        <div class="component-content-body">
        </div>
        <div class="component-content-title">
          <% if component.status == false %>
            Indisponible
          <% else %>
            Diponible
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>