  <div class="row" style="margin-top: 20px">
  <div class="col-md-10 col-md-offset-1" style="display:-webkit-inline-box">

    <div class="component-square-first">
      <div class="component-content">
        <div class="component-content-title">
          header
        </div>
        <div class="component-content-body">
          <canvas id="myChart" width="50%" height="50%"></canvas>
        </div>
        <div class="component-content-title">
          footer
        </div>
      </div>
    </div>
    <div class="component-square-offset">
      <div class="component-content">
        toto
      </div>
    </div>
    <div class="component-square-offset">
      <div class="component-content">
        toto
      </div>
    </div>
    <div class="component-square-offset">
      <div class="component-content">
        toto
      </div>
    </div>
    <div class="component-square-offset">
      <div class="component-content">
        toto
      </div>
    </div>
    <div class="component-square-offset">
      <div class="component-content">
        toto
      </div>
    </div>
    <div class="component-square-offset">
      <div class="component-content">
        toto
      </div>
    </div>
  </div>
</div>