
<div class="row" style="margin-top: 20px">
  <div class="col-md-10 col-md-offset-1" style="display:-webkit-inline-box">

  <% @components.each do |component|%>
    <div class="component-square-offset">
      <div class="component-content">
        <div class="component-content-title">
          <%= component.name.capitalize %>
        </div>
        <div class="component-content-body">
        </div>
        <div class="component-content-title">
          <% if component.available == false %>
            Unavailable
          <% else %>
            Available
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>