// Place all the styles related to the components controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.green-circle {
    background-color:#04B431;
    height:15px;
    width:15px;
    -webkit-border-radius:7.5px;
    -moz-border-radius:7.5px;
}

.red-circle {
    background-color:#FE2E2E;
    height:15px;
    width:15px;
    -webkit-border-radius:7.5px;
    -moz-border-radius:7.5px;
}

.component-square-first {
    width: 13%;
    position: relative;
}

.component-square-offset {
    width: 13%;
    margin-left: 1%;
    position: relative;
}

.component-square-first:after {
    display: block;
    padding-bottom: 100%;
    content: "";
}

.component-square-offset:after {
    display: block;
    padding-bottom: 100%;
    content: "";
}

.component-content {
    width: 100%;
    height: 100%;
    background-color: yellowgreen;
    position: absolute;
}

.component-content-title {
    height: 10%;
    background-color: green;
    text-align: center;
    color: white;
    font-weight: bold;
}

.component-content-body {
    height: 80%;
}