@import "font-awesome";
@import "bootstrap";

$body-bg: #fff;

@font-face {
  font-family: 'PT-sans';
  src: font-url('fonts/PTS55F.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  background-color: #fff;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
 font: 15px "PT-sans";
}

.navbar {
  margin-bottom:0;
}

.status{
  height: 20px;
  color: #fff;
  text-align: center;
}
.status.status-ok{
  background-color:#0da960;
}
.status.status-ko{
  background-color:#d9534f;
}

.container{
  width: 940px;
}
